* {
    font-family: 'Nanum Myeongjo', serif;
}

.all {
    width: 600px;
    margin: 10px auto;
}

.title h2,
.title h5 {
    display: inline;
    margin-right: 5px;
}
.button {
    text-align: center;
}
.exchange{
    color: blue;
}